.login-div {
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    width: 70%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px;

    img {
        width: 50%;
    }
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input[type=text], input[type=password] {
    height: 45px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    height: 45px;
    background-color: #E06E5B;
    font-size: 14px;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type=submit]:hover {
    background-color: #a55244;
}

.register {
    color: #a75244;
    text-decoration: underline;
}
