@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  min-height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  gap: 15px;
}

.temporary-links {
  width: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: underline;
}

@media (max-width: 768px) {
  main {
      padding: 16px;
      justify-content: flex-start;
  }
  h1 {
    font-size: x-large;
  }
  .hamburger {
    max-height: 40px;
  }
  body {
    background-color: #F3E4E1;
    color: #2F2926;
  }
  .cart-open {
    background-color: #F3E4E1;
    color: #2F2926
  }
  .menu-open {
    background-color: #2F2926;
    color: #FFFFFF
  }
  .profile{
    background: #2F2926;
  }
  .leaflet-control-container{
    opacity: 0;
  }
  .leaflet-popup-tip-container {
    opacity: 0;
  }
  /* .leaflet-popup-content-wrapper {
    width: 100vw;
    position: fixed;
    height: 20vh;
    background-color: #F3E4E1;
  } */
  .w-60 {
    width: 100%;
  }
  .h-27 {
    height: auto;
  }
  .text-4xl {
    font-size: 2rem; /* Adjusting for smaller screen sizes */
  }
  .text-2xl {
    font-size: 1.25rem;
  }
}
