.change-password-form {
    display: flex;
    flex-direction: column;
    width: 280px;
}

.change-pwd-btn {
    width: 100%;
    height: 45px;
    background-color: #000000;
    font-size: 14px;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.user-div {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 35px;
}

.user-small-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    width: 230px;
    height: 100px;
}

.input-text-field {
    height: 45px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 15px;
    margin-bottom: 10px;
}

.payment-table {
    width: 50%;
}

.payment-form {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
}

input[type=submit], .payment-btn {
    width: 50%;
    height: 45px;
    background-color: #000000;
    font-size: 14px;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.blue-btn {
    background-color: rgb(47, 47, 255);
    color: #ffffff;
    height: 45px;
    width: 190px;
    font-size: 14px;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btns-div {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 60px 0 60px;
    border-bottom: 2px solid #3d4634;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #6a795c;
    color: rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 22px;
        margin-right: 20px;
    }
    .right-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: auto;
    }
}

.success-message {
    color: rgb(8, 99, 8);
}

.error-message {
    color: rgb(193, 14, 14);
}

.info-div {
    padding: 15px;
}
